[Unit]
Description=OpenThread Border Router Agent 2
ConditionPathExists=/usr/sbin/otbr-agent
Requires=dbus.socket
After=dbus.socket

[Service]
EnvironmentFile=-/etc/default/otbr-agent-2
ExecStart=/usr/sbin/otbr-agent $OTBR_AGENT_OPTS
KillMode=mixed
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=otbr-agent-2.service
